

.option {
    font-weight: 300;
    font-size: 1rem;
    color:#bababa;
    padding:10px;
    border-top: 1px solid #404040;
    
}
.option a {
    color:rgb(255, 123, 0);
    text-decoration: none;
}
.option span {
    color: white;
    margin-right: 10px;
}